# Tuple

* Tuples are used to store multiple values in a single variable. Tuples can be written in round brackets ().

In [1]:
myBasket = ('Apple','Banana','Grapes','Orange')
print(myBasket)

('Apple', 'Banana', 'Grapes', 'Orange')

* Properties Of Tuple :-
Ordered : Tuples are an ordered sequences of items, just like lists.

Unchangeable : Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

Allow Duplicates : Tuples are indexed, they can have items with the same value. It contains duplicates items.

## Count

* The count() method returns the number of times the specified element appears in the list.

In [5]:
myBasket = ('Apple','Banana','Grapes','Orange', 'Banana')
print(myBasket.count('Banana'))

2

In [6]:
t1 = ('a','b','c','d')
print(t1)
type(t1)

('a', 'b', 'c', 'd')

tuple

## Add

* The add fuction is used to add to or more element of tuple

In [7]:
T1 = (1,2,3,4,5)
T2 = ('ganesh', 'anil', 'pravin', 'golu')
print(T1+T2)

(1, 2, 3, 4, 5, 'ganesh', 'anil', 'pravin', 'golu')

## Mul(*)

* The mul function is used to multiple the element of tuple

In [8]:
T3 = (4*6*2*3)
print(T3)

144

## len

* The len fucntion is use to detemine the lenght of element of tuple

In [9]:
T8 = (1,2,3,4,5,6,8,9)
print(T8)
print(len(T8))

(1, 2, 3, 4, 5, 6, 8, 9)
8

## Equal

* The equal function is used to compare the tuple

In [11]:
T3 = ('a')
T4 = ('b')
T5 = ('a')

print(T3==T4)
print(T3==T5)

False
True